{% extends "main.html" %}
{% block content %}
    <div class="heading">All Categories</div>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 col-sm-6 category-card-outer">
            <a href="{{ url_for('getCoursesByCategoryId', category_id = category.id) }}">      
                <div class="category-card">
                    {{ category.name }}
                </div>
            </a>
            <div class="options-section">
                <a href="{{ url_for('editCategory', category_id = category.id ) }}">Edit</a>
                <br/>
                <a href="{{ url_for('deleteCategory', category_id = category.id ) }}">Delete</a>    
            </div>
            <br/>
            <br/>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{ url_for('newCategory') }}">
            <div class="col-xs-12 add-section">
                Add a new category
            </div>
        </a>
    </div>
{% endblock %}