{% extends "main.html" %}
{% block content %}
    <a href="{{ url_for('getAllCategories') }}">Home</a>
    <div class="heading">
        All courses for {{ category.name }}
    </div>
    {% if not courses %}
        <h2>Sorry, no available courses for the {{ category.name }} category yet.</h2>
    {% else %}
        {% for course in courses %} 
        <div class="course-card col-sm-6">
            <a href="{{ url_for('getCourseById', category_id = category.id, course_id = course.id) }}">
                <div class="thumbnail">
                    <img class="course-card-img" src="{{ course.img_url }}" alt="..."/>
                    <div class="course-card-title caption">
                        <h4>{{ course.name }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <a href="{{ url_for('newCourse', category_id = category.id) }}">
            <div class="col-xs-12 add-section">
                Add a new course
            </div>
        </a>
    </div>
    {% endblock %}