{% extends "main.html" %}
{% block content %}
    <a href="{{ url_for('getAllCategories') }}">Home</a>
    <a href="{{ url_for('getCoursesByCategoryId', category_id = category.id) }}">Back</a>
    
    <div class="course-content">
        <div class="course-info">
            <div class="heading">Course: {{ course.name }}</div>
            <p>{{ course.description }}</p>
        </div>
        <div class="course-img">
            <img class="course-card-img" src="{{ course.img_url }}" alt=""/>
        </div>
        {% if course.intro_video_url %}
            <div class="intro-video">
                <iframe width="420" height="315" src="{{ course.intro_video_url }}"></iframe>
            </div>
        {% endif %}    
    </div>
    <div class="options-section">
        <a href="{{ url_for('editCourse', category_id = category.id, course_id = course.id) }}">Edit</a>
        <br/>
        <a href="{{ url_for('deleteCourse', category_id = category.id, course_id = course.id) }}">Delete</a>    
    </div>
{% endblock %}